<section class="containerz">
    <% for(let i=0;i<comments.length;i++){%>
    <div class="shadow-sm row">
        <div class="col-md-2">
            <img class="shadow mt-3 mt-4" src="/images/profile.jpg" alt="avatar"
                style="width: 70px;height: 70px;border-radius: 50%; margin-left: 70px;">
            <p class="text-center"><a href="#"><%= comments[i].Ten %> </a></p>
        </div>
        <div class="col-md-9 font-italic border-left">
            <p style="font-size: 12px;margin-top: 10px;"><%= comments[i].NgayViet %> 0</p>
            <a href="/<%= comments[i].TieuDeURL %> "><%= comments[i].TieuDeURL %> </a>
            <p><%= comments[i].NoiDung %> </p>
        </div>

        <div class="col-md-1 border-left">
            <a class="fa fa-trash" href="#" style="padding-left: 20px; padding-top: 50px; color: red;"></a>
        </div>
    </div>
    <% } %>
    </div>
</section>